In [1]:
import pandas as pd

# US.csv

In [2]:
us = pd.read_csv('eda_only/us.csv')
us.head()

,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,lastModified,death,hospitalized,total,totalTestResults,posNeg,notes
0,1061101,5170081,2775,53793,111955,9486,4192,4712,373,153947,95064ba29ccbc20dbec397033dfe4b1f45137c99,2020-05-01T09:12:31.891Z,57266,111955,6233957,6231182,6231182,"NOTE: ""total"", ""posNeg"", ""hospitalized"" will b..."

## Notes:
```us.csv``` is horribly out of date and only useful for EDA.

# States_Daily.csv

In [3]:
states_daily = pd.read_csv('eda_only/states_daily.csv')

In [4]:
states_daily.head()

,date,state,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,...,posNeg,deathIncrease,hospitalizedIncrease,hash,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
0,20200924,AK,7941.0,425257.0,NaN,433198.0,43.0,NaN,NaN,NaN,...,433198,0,0,b83363bdfb4b0d19318d00489c44e906270412f1,0,0,0,0,0,NaN
1,20200924,AL,148206.0,944747.0,NaN,1078180.0,744.0,16778.0,NaN,1679.0,...,1092953,18,80,4b1b271eafc1e79991c11cae326c455bd34ae063,0,0,0,0,0,NaN
2,20200924,AR,79049.0,840737.0,NaN,917413.0,450.0,5160.0,216.0,NaN,...,919786,17,62,3bb6b474a294e70889229d31b3d1615e78236173,0,0,0,0,0,NaN
3,20200924,AS,0.0,1571.0,NaN,1571.0,NaN,NaN,NaN,NaN,...,1571,0,0,f949dd0d4f1a5cc85607dc1e308d0088f67199bd,0,0,0,0,0,NaN
4,20200924,AZ,215852.0,1204565.0,NaN,1420417.0,565.0,21942.0,122.0,NaN,...,1420417,34,17,793697b0c3c6f8507298dd52b6474cc33d815148,0,0,0,0,0,NaN

In [5]:
states_daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11466 entries, 0 to 11465
Data columns (total 54 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   date                         11466 non-null  int64
 1   state                        11466 non-null  object
 2   positive                     11367 non-null  float64
 3   negative                     11229 non-null  float64
 4   pending                      1319 non-null   float64
 5   totalTestResults             11455 non-null  float64
 6   hospitalizedCurrently        8647 non-null   float64
 7   hospitalizedCumulative       6480 non-null   float64
 8   inIcuCurrently               4846 non-null   float64
 9   inIcuCumulative              1845 non-null   float64
 10  onVentilatorCurrently        4072 non-null   float64
 11  onVentilatorCumulative       646 non-null    float64
 12  recovered                    7766 non-null   float64
 13  dataQualityGrade             10284 non-null  object
 14  lastUpdateEt                 11042 non-null  object
 15  dateModified                 11042 non-null  object
 16  checkTimeEt                  11042 non-null  object
 17  death                        10717 non-null  float64
 18  hospitalized                 6480 non-null   float64
 19  dateChecked                  11042 non-null  object
 20  totalTestsViral              6531 non-null   float64
 21  positiveTestsViral           2350 non-null   float64
 22  negativeTestsViral           1842 non-null   float64
 23  positiveCasesViral           8617 non-null   float64
 24  deathConfirmed               4488 non-null   float64
 25  deathProbable                3173 non-null   float64
 26  totalTestEncountersViral     1603 non-null   float64
 27  totalTestsPeopleViral        4120 non-null   float64
 28  totalTestsAntibody           1852 non-null   float64
 29  positiveTestsAntibody        1345 non-null   float64
 30  negativeTestsAntibody        560 non-null    float64
 31  totalTestsPeopleAntibody     689 non-null    float64
 32  positiveTestsPeopleAntibody  418 non-null    float64
 33  negativeTestsPeopleAntibody  418 non-null    float64
 34  totalTestsPeopleAntigen      185 non-null    float64
 35  positiveTestsPeopleAntigen   183 non-null    float64
 36  totalTestsAntigen            311 non-null    float64
 37  positiveTestsAntigen         221 non-null    float64
 38  fips                         11466 non-null  int64
 39  positiveIncrease             11466 non-null  int64
 40  negativeIncrease             11466 non-null  int64
 41  total                        11466 non-null  int64
 42  totalTestResultsSource       11466 non-null  object
 43  totalTestResultsIncrease     11466 non-null  int64
 44  posNeg                       11466 non-null  int64
 45  deathIncrease                11466 non-null  int64
 46  hospitalizedIncrease         11466 non-null  int64
 47  hash                         11466 non-null  object
 48  commercialScore              11466 non-null  int64
 49  negativeRegularScore         11466 non-null  int64
 50  negativeScore                11466 non-null  int64
 51  positiveScore                11466 non-null  int64
 52  score                        11466 non-null  int64
 53  grade                        0 non-null      float64
dtypes: float64(32), int64(14), object(8)
memory usage: 4.7+ MB

In [6]:
states_daily.describe()

,date,positive,negative,pending,totalTestResults,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,totalTestResultsIncrease,posNeg,deathIncrease,hospitalizedIncrease,commercialScore,negativeRegularScore,negativeScore,positiveScore,score,grade
count,1.146600e+04,11367.000000,1.122900e+04,1319.000000,1.145500e+04,8647.000000,6480.000000,4846.000000,1845.000000,4072.000000,...,11466.000000,1.146600e+04,11466.000000,11466.00000,11466.0,11466.0,11466.0,11466.0,11466.0,0.0
mean,2.020061e+07,49523.214305,5.481041e+05,1218.396513,5.996715e+05,884.831387,6640.164352,316.692530,1014.295393,140.097741,...,8588.303593,5.858706e+05,16.993895,34.95866,0.0,0.0,0.0,0.0,0.0,NaN
std,1.951873e+02,98726.718036,1.168779e+06,5397.644767,1.253677e+06,1688.476944,14407.767895,569.474804,954.259099,232.222253,...,16641.663903,1.247999e+06,47.176868,236.92045,0.0,0.0,0.0,0.0,0.0,NaN
min,2.020012e+07,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000,0.000000,6.000000,0.000000,...,-336892.000000,0.000000e+00,-213.000000,-4124.00000,0.0,0.0,0.0,0.0,0.0,NaN
25%,2.020042e+07,1399.000000,2.614300e+04,20.000000,2.437750e+04,97.000000,485.750000,56.000000,269.000000,25.000000,...,514.500000,2.380550e+04,0.000000,0.00000,0.0,0.0,0.0,0.0,0.0,NaN
50%,2.020061e+07,12415.000000,1.612850e+05,157.000000,1.795380e+05,370.000000,2116.000000,135.000000,758.000000,76.000000,...,3176.000000,1.681225e+05,3.000000,0.00000,0.0,0.0,0.0,0.0,0.0,NaN
75%,2.020080e+07,53623.500000,5.611470e+05,518.500000,6.188220e+05,889.500000,6739.250000,296.000000,1440.000000,145.250000,...,9448.750000,6.057772e+05,14.000000,23.00000,0.0,0.0,0.0,0.0,0.0,NaN
max,2.020092e+07,790640.000000,1.316222e+07,64400.000000,1.395286e+07,18825.000000,89995.000000,5225.000000,5120.000000,2425.000000,...,187926.000000,1.395286e+07,951.000000,16373.00000,0.0,0.0,0.0,0.0,0.0,NaN

In [7]:
states_daily.posNeg.value_counts()

0          166
3           38
2           30
174         29
1           28
          ...
49012        1
2533472      1
1807805      1
3476926      1
315390       1
Name: posNeg, Length: 10185, dtype: int64

In [8]:
states_daily.date.unique()

array([20200924, 20200923, 20200922, 20200921, 20200920, 20200919,
       20200918, 20200917, 20200916, 20200915, 20200914, 20200913,
       20200912, 20200911, 20200910, 20200909, 20200908, 20200907,
       20200906, 20200905, 20200904, 20200903, 20200902, 20200901,
       20200831, 20200830, 20200829, 20200828, 20200827, 20200826,
       20200825, 20200824, 20200823, 20200822, 20200821, 20200820,
       20200819, 20200818, 20200817, 20200816, 20200815, 20200814,
       20200813, 20200812, 20200811, 20200810, 20200809, 20200808,
       20200807, 20200806, 20200805, 20200804, 20200803, 20200802,
       20200801, 20200731, 20200730, 20200729, 20200728, 20200727,
       20200726, 20200725, 20200724, 20200723, 20200722, 20200721,
       20200720, 20200719, 20200718, 20200717, 20200716, 20200715,
       20200714, 20200713, 20200712, 20200711, 20200710, 20200709,
       20200708, 20200707, 20200706, 20200705, 20200704, 20200703,
       20200702, 20200701, 20200630, 20200629, 20200628, 20200627,
       20200626, 20200625, 20200624, 20200623, 20200622, 20200621,
       20200620, 20200619, 20200618, 20200617, 20200616, 20200615,
       20200614, 20200613, 20200612, 20200611, 20200610, 20200609,
       20200608, 20200607, 20200606, 20200605, 20200604, 20200603,
       20200602, 20200601, 20200531, 20200530, 20200529, 20200528,
       20200527, 20200526, 20200525, 20200524, 20200523, 20200522,
       20200521, 20200520, 20200519, 20200518, 20200517, 20200516,
       20200515, 20200514, 20200513, 20200512, 20200511, 20200510,
       20200509, 20200508, 20200507, 20200506, 20200505, 20200504,
       20200503, 20200502, 20200501, 20200430, 20200429, 20200428,
       20200427, 20200426, 20200425, 20200424, 20200423, 20200422,
       20200421, 20200420, 20200419, 20200418, 20200417, 20200416,
       20200415, 20200414, 20200413, 20200412, 20200411, 20200410,
       20200409, 20200408, 20200407, 20200406, 20200405, 20200404,
       20200403, 20200402, 20200401, 20200331, 20200330, 20200329,
       20200328, 20200327, 20200326, 20200325, 20200324, 20200323,
       20200322, 20200321, 20200320, 20200319, 20200318, 20200317,
       20200316, 20200315, 20200314, 20200313, 20200312, 20200311,
       20200310, 20200309, 20200308, 20200307, 20200306, 20200305,
       20200304, 20200303, 20200302, 20200301, 20200229, 20200228,
       20200227, 20200226, 20200225, 20200224, 20200223, 20200222,
       20200221, 20200220, 20200219, 20200218, 20200217, 20200216,
       20200215, 20200214, 20200213, 20200212, 20200211, 20200210,
       20200209, 20200208, 20200207, 20200206, 20200205, 20200204,
       20200203, 20200202, 20200201, 20200131, 20200130, 20200129,
       20200128, 20200127, 20200126, 20200125, 20200124, 20200123,
       20200122], dtype=int64)

## Notes:
```states_daily``` is definitely a contender for keeping.

# Enigma_Covid_19_US_Counties.csv

In [9]:
enigma_covid_counties = pd.read_csv('eda_only/enigma_covid_19_us_counties.csv')

In [10]:
enigma_covid_counties.head()

,state_fips,state_name,county_fips,county_name,area_name,lat,long,date,cases,deaths
0,5,NaN,NaN,NaN,NaN,NaN,NaN,2020-06-19,533,0
1,2,NaN,NaN,NaN,NaN,NaN,NaN,2020-06-19,12,0
2,78,NaN,NaN,NaN,NaN,NaN,NaN,2020-06-20,74,6
3,50,NaN,NaN,NaN,NaN,NaN,NaN,2020-06-20,5,0
4,49,NaN,NaN,NaN,NaN,NaN,NaN,2020-06-20,0,9

In [11]:
enigma_covid_counties.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 563614 entries, 0 to 563613
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   state_fips   563614 non-null  int64
 1   state_name   558189 non-null  object
 2   county_fips  558189 non-null  float64
 3   county_name  558189 non-null  object
 4   area_name    0 non-null       float64
 5   lat          558189 non-null  float64
 6   long         558189 non-null  float64
 7   date         563614 non-null  object
 8   cases        563614 non-null  int64
 9   deaths       563614 non-null  int64
dtypes: float64(4), int64(3), object(3)
memory usage: 43.0+ MB

In [12]:
enigma_covid_counties.date.unique()

array(['2020-06-19', '2020-06-20', '2020-06-21', '2020-06-22',
       '2020-06-23', '2020-06-24', '2020-06-25', '2020-06-26',
       '2020-06-27', '2020-06-28', '2020-06-29', '2020-06-30',
       '2020-07-01', '2020-07-02', '2020-07-03', '2020-07-04',
       '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08',
       '2020-07-09', '2020-07-10', '2020-07-11', '2020-07-12',
       '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16',
       '2020-07-17', '2020-07-18', '2020-07-19', '2020-07-20',
       '2020-07-21', '2020-07-22', '2020-07-23', '2020-07-24',
       '2020-07-25', '2020-07-26', '2020-07-27', '2020-07-28',
       '2020-07-29', '2020-07-30', '2020-07-31', '2020-08-01',
       '2020-08-02', '2020-08-03', '2020-08-04', '2020-08-05',
       '2020-08-06', '2020-08-07', '2020-08-08', '2020-08-09',
       '2020-08-10', '2020-08-11', '2020-08-12', '2020-08-13',
       '2020-08-14', '2020-08-15', '2020-08-16', '2020-08-17',
       '2020-08-18', '2020-08-19', '2020-08-20', '2020-08-21',
       '2020-08-22', '2020-08-23', '2020-08-24', '2020-08-25',
       '2020-08-26', '2020-08-27', '2020-08-28', '2020-08-29',
       '2020-08-30', '2020-08-31', '2020-09-01', '2020-09-02',
       '2020-09-03', '2020-09-04', '2020-09-05', '2020-09-06',
       '2020-09-07', '2020-09-08', '2020-09-09', '2020-09-10',
       '2020-09-11', '2020-09-12', '2020-09-13', '2020-09-14',
       '2020-09-15', '2020-09-16', '2020-09-17', '2020-09-18',
       '2020-09-19', '2020-09-20', '2020-09-21', '2020-09-22',
       '2020-09-23', '2020-03-24', '2020-03-25', '2020-03-26',
       '2020-03-27', '2020-03-28', '2020-03-29', '2020-03-30',
       '2020-03-31', '2020-04-01', '2020-04-02', '2020-04-03',
       '2020-04-04', '2020-04-05', '2020-04-06', '2020-04-07',
       '2020-04-08', '2020-04-09', '2020-04-10', '2020-04-11',
       '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15',
       '2020-04-16', '2020-04-17', '2020-04-18', '2020-04-19',
       '2020-04-20', '2020-04-21', '2020-04-22', '2020-04-23',
       '2020-04-24', '2020-04-25', '2020-04-26', '2020-04-27',
       '2020-04-28', '2020-04-29', '2020-04-30', '2020-05-01',
       '2020-05-02', '2020-05-03', '2020-05-04', '2020-05-05',
       '2020-05-06', '2020-05-07', '2020-05-08', '2020-05-09',
       '2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13',
       '2020-05-14', '2020-05-15', '2020-05-16', '2020-05-17',
       '2020-05-18', '2020-05-19', '2020-05-20', '2020-05-21',
       '2020-05-22', '2020-05-23', '2020-05-24', '2020-05-25',
       '2020-05-26', '2020-05-27', '2020-05-28', '2020-05-29',
       '2020-05-30', '2020-05-31', '2020-06-01', '2020-06-02',
       '2020-06-03', '2020-06-04', '2020-06-05', '2020-06-06',
       '2020-06-07', '2020-06-08', '2020-06-09', '2020-06-10',
       '2020-06-11', '2020-06-12', '2020-06-13', '2020-06-14',
       '2020-06-15', '2020-06-16', '2020-06-17', '2020-06-18',
       '2020-03-14', '2020-03-15', '2020-03-16', '2020-03-17',
       '2020-03-18', '2020-03-19', '2020-03-20', '2020-03-21',
       '2020-03-22', '2020-03-23', '2020-03-13', '2020-03-12',
       '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29',
       '2020-01-30', '2020-01-31', '2020-02-01', '2020-02-02',
       '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06',
       '2020-02-07', '2020-02-08', '2020-02-09', '2020-02-10',
       '2020-02-11', '2020-02-12', '2020-02-13', '2020-02-14',
       '2020-02-15', '2020-02-16', '2020-02-17', '2020-02-18',
       '2020-02-19', '2020-02-20', '2020-02-21', '2020-02-22',
       '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26',
       '2020-02-27', '2020-02-28', '2020-02-29', '2020-03-01',
       '2020-03-02', '2020-03-03', '2020-03-04', '2020-03-05',
       '2020-03-06', '2020-03-07', '2020-03-08', '2020-03-09',
       '2020-03-10', '2020-03-11', '2020-01-25', '2020-01-24',
       '2020-01-21', '2020-01-22', '2020-01-23'], dtype=object)

## Notes:
```enigma_covid_counties``` is a running daily total.  Some missing data that can be imputed from other data sets based on ```date``` and ```state_fips```.  Data goes through 9.23.2020. Longitude and Latitude data could be useful for visualizations.

# County-Predictions.csv

In [13]:
county_predictions = pd.read_csv('eda_only/county-predictions.csv')
county_predictions.head()

,countyfips,countyname,statename,predicted_deaths_by_september_23,predicted_deaths_intervals_by_september_23,predicted_deaths_by_september_24,predicted_deaths_intervals_by_september_24,predicted_deaths_by_september_25,predicted_deaths_intervals_by_september_25,predicted_deaths_by_september_26,predicted_deaths_intervals_by_september_26,predicted_deaths_by_september_27,predicted_deaths_intervals_by_september_27,predicted_deaths_by_september_28,predicted_deaths_intervals_by_september_28,predicted_deaths_by_september_29,predicted_deaths_intervals_by_september_29,severity_county_5-day
0,36047,Kings,NY,7327.2,"(7319, 7335.990483222561)",7335.5,"(7319.276742692821, 7351.724399011177)",7344.2,"(7319, 7369.902464216179)",7353.5,"(7319, 7388.7468317270295)",7363.2,"(7319.082667075636, 7407.281810408499)",7373.4,"(7319, 7428.183787326788)",7384.2,"(7320.189724465736, 7448.1279896983415)",3
1,36081,Queens,NY,7253.0,"(7245, 7262.5683873452335)",7261.6,"(7245, 7280.667927273538)",7270.6,"(7245, 7299.70084892148)",7280.2,"(7245, 7318.540713789888)",7290.3,"(7245, 7336.624285022828)",7300.9,"(7255.042693071785, 7346.832994495588)",7312.2,"(7262.235326598386, 7362.080296067022)",3
2,6037,Los Angeles,CA,6421.8,"(6401, 6455.043454890786)",6447.3,"(6401, 6514.972149077893)",6473.0,"(6401, 6554.217761204923)",6499.0,"(6401, 6599.894214915295)",6525.2,"(6406.860390653504, 6643.529904482499)",6551.7,"(6403.013379067104, 6700.478242291437)",6578.6,"(6401, 6759.860008253789)",3
3,17031,Cook,IL,5181.9,"(5173.821276771385, 5190.0548391655975)",5192.2,"(5179.0611863983895, 5205.254209359246)",5202.7,"(5185.7896462101535, 5219.562578405221)",5213.5,"(5174.457124268452, 5252.549883086898)",5224.7,"(5172, 5293.123699306777)",5236.2,"(5172, 5315.377478205285)",5248.1,"(5172, 5340.413283590406)",3
4,36005,Bronx,NY,4953.3,"(4942, 4966.816833158447)",4964.8,"(4942, 4989.057310854866)",4976.7,"(4942.607893871373, 5010.8533306317495)",4989.3,"(4944.728173104526, 5033.848412074292)",5002.5,"(4947.715056422133, 5057.190215305794)",5016.2,"(4944.572783376022, 5087.866000878972)",5030.6,"(4944.341184536262, 5116.905947444799)",3

## Notes:
```county_predictions``` only contains predictions for deaths over the week of 9.23 - 9.27.2020.  Nothing very useful besides the labels for the counties, zip codes, and county names. **Not useful outside of the obtaining county IDs***

# jhu_csse_covid_19_timeseries_merged.csv

In [14]:
jhu_ts_merged = pd.read_csv('eda_only/jhu_csse_covid_19_timeseries_merged.csv')
jhu_ts_merged.head()

,uid,fips,iso2,iso3,code3,admin2,latitude,longitude,province_state,country_region,date,confirmed,deaths,recovered
0,16.0,60.0,AS,ASM,16.0,NaN,-14.2710,-170.1320,American Samoa,US,2020-01-22,0,0,NaN
1,316.0,66.0,GU,GUM,316.0,NaN,13.4443,144.7937,Guam,US,2020-01-22,0,0,NaN
2,580.0,69.0,MP,MNP,580.0,NaN,15.0979,145.6739,Northern Mariana Islands,US,2020-01-22,0,0,NaN
3,630.0,72.0,PR,PRI,630.0,NaN,18.2208,-66.5901,Puerto Rico,US,2020-01-22,0,0,NaN
4,850.0,78.0,VI,VIR,850.0,NaN,18.3358,-64.8963,Virgin Islands,US,2020-01-22,0,0,NaN

In [15]:
jhu_ts_merged.country_region.value_counts()

US                     420153
China                    3741
France                   1419
United Kingdom           1290
Australia                1032
                        ...
Andorra                   129
Ghana                     129
Trinidad and Tobago       129
Guyana                    129
Nigeria                   129
Name: country_region, Length: 177, dtype: int64

In [16]:
jhu_ts_merged = jhu_ts_merged[jhu_ts_merged['country_region'] == 'US']
jhu_ts_merged.head()

,uid,fips,iso2,iso3,code3,admin2,latitude,longitude,province_state,country_region,date,confirmed,deaths,recovered
0,16.0,60.0,AS,ASM,16.0,NaN,-14.2710,-170.1320,American Samoa,US,2020-01-22,0,0,NaN
1,316.0,66.0,GU,GUM,316.0,NaN,13.4443,144.7937,Guam,US,2020-01-22,0,0,NaN
2,580.0,69.0,MP,MNP,580.0,NaN,15.0979,145.6739,Northern Mariana Islands,US,2020-01-22,0,0,NaN
3,630.0,72.0,PR,PRI,630.0,NaN,18.2208,-66.5901,Puerto Rico,US,2020-01-22,0,0,NaN
4,850.0,78.0,VI,VIR,850.0,NaN,18.3358,-64.8963,Virgin Islands,US,2020-01-22,0,0,NaN

In [17]:
jhu_ts_merged.confirmed.value_counts()

0        232479
1         20153
2         12229
3          9736
4          7438
          ...
15475         1
9328          1
31611         1
3802          1
2912          1
Name: confirmed, Length: 5675, dtype: int64

In [18]:
jhu_ts_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 420153 entries, 0 to 450568
Data columns (total 14 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   uid             420024 non-null  float64
 1   fips            418734 non-null  float64
 2   iso2            420024 non-null  object
 3   iso3            420024 non-null  object
 4   code3           420024 non-null  float64
 5   admin2          419121 non-null  object
 6   latitude        406479 non-null  float64
 7   longitude       406479 non-null  float64
 8   province_state  420024 non-null  object
 9   country_region  420153 non-null  object
 10  date            420153 non-null  object
 11  confirmed       420153 non-null  int64
 12  deaths          420153 non-null  int64
 13  recovered       129 non-null     float64
dtypes: float64(6), int64(2), object(6)
memory usage: 48.1+ MB

In [19]:
jhu_ts_merged.date.unique()

array(['2020-01-22', '2020-01-23', '2020-01-24', '2020-01-25',
       '2020-01-26', '2020-01-27', '2020-01-28', '2020-01-29',
       '2020-01-30', '2020-01-31', '2020-02-10', '2020-02-11',
       '2020-02-12', '2020-02-13', '2020-02-14', '2020-02-15',
       '2020-02-16', '2020-02-17', '2020-02-18', '2020-02-19',
       '2020-02-01', '2020-02-20', '2020-02-21', '2020-02-22',
       '2020-02-23', '2020-02-24', '2020-02-25', '2020-02-26',
       '2020-02-27', '2020-02-28', '2020-02-29', '2020-02-02',
       '2020-02-03', '2020-02-04', '2020-02-05', '2020-02-06',
       '2020-02-07', '2020-02-08', '2020-02-09', '2020-03-10',
       '2020-03-11', '2020-03-12', '2020-03-13', '2020-03-14',
       '2020-03-15', '2020-03-16', '2020-03-17', '2020-03-18',
       '2020-03-19', '2020-03-01', '2020-03-20', '2020-03-21',
       '2020-03-22', '2020-03-23', '2020-03-24', '2020-03-25',
       '2020-03-26', '2020-03-27', '2020-03-28', '2020-03-29',
       '2020-03-02', '2020-03-30', '2020-03-31', '2020-03-03',
       '2020-03-04', '2020-03-05', '2020-03-06', '2020-03-07',
       '2020-03-08', '2020-03-09', '2020-04-10', '2020-04-11',
       '2020-04-12', '2020-04-13', '2020-04-14', '2020-04-15',
       '2020-04-16', '2020-04-17', '2020-04-18', '2020-04-19',
       '2020-04-01', '2020-04-20', '2020-04-21', '2020-04-22',
       '2020-04-23', '2020-04-24', '2020-04-25', '2020-04-26',
       '2020-04-27', '2020-04-28', '2020-04-29', '2020-04-02',
       '2020-04-30', '2020-04-03', '2020-04-04', '2020-04-05',
       '2020-04-06', '2020-04-07', '2020-04-08', '2020-04-09',
       '2020-05-10', '2020-05-11', '2020-05-12', '2020-05-13',
       '2020-05-14', '2020-05-15', '2020-05-16', '2020-05-17',
       '2020-05-18', '2020-05-19', '2020-05-01', '2020-05-20',
       '2020-05-21', '2020-05-22', '2020-05-23', '2020-05-24',
       '2020-05-25', '2020-05-26', '2020-05-27', '2020-05-28',
       '2020-05-29', '2020-05-02', '2020-05-03', '2020-05-04',
       '2020-05-05', '2020-05-06', '2020-05-07', '2020-05-08',
       '2020-05-09'], dtype=object)

## Notes:
```jhu_ts_merged``` is a df of all confirmed cases by date throughout all US states and territories. It does end at the beginning of May, however.

## us_states.csv

In [20]:
us_states = pd.read_csv('eda_only/us_states.csv')
us_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [21]:
us_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3754 entries, 0 to 3753
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3754 non-null   object
 1   state   3754 non-null   object
 2   fips    3754 non-null   int64
 3   cases   3754 non-null   int64
 4   deaths  3754 non-null   int64
dtypes: int64(3), object(2)
memory usage: 146.8+ KB

In [22]:
us_states.tail()

            date          state  fips  cases  deaths
3749  2020-05-09       Virginia    51  23196     827
3750  2020-05-09     Washington    53  17763     925
3751  2020-05-09  West Virginia    54   1347      53
3752  2020-05-09      Wisconsin    55   9939     398
3753  2020-05-09        Wyoming    56    653       7

## Notes:
```us_states``` is running total of cases and deaths per state, but ends on 05.09.2020.  Could be useful if another dataset is similar and can give me the actual numbers for predicted dates.

# US_Daily.csv

In [23]:
us_daily = pd.read_csv('us_daily.csv')
us_daily.head()

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,totalTestResults,lastModified,total,posNeg,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease,hash
0,20200927,56,7080459,90648092,11136.0,29432.0,404083.0,6080.0,20049.0,1511.0,...,101298794,2020-09-27T00:00:00Z,0,0,307,758,665609,35289,806258,e7c64e674bfc2af02802153452e53628d44c241c
1,20200926,56,7045170,89982483,11183.0,29554.0,403325.0,6057.0,20002.0,1509.0,...,100492536,2020-09-26T00:00:00Z,0,0,866,1154,886140,47733,1004261,e98f5076c72de4a27a283d22756b7d0b9a44d41f
2,20200925,56,6997437,89096343,10905.0,29769.0,402171.0,6133.0,19919.0,1506.0,...,99488275,2020-09-25T00:00:00Z,0,0,844,1331,856519,55526,1011675,8d311e73fe038522a1a6be4bc3202de206ec0adb
3,20200924,56,6941911,88239824,12008.0,30043.0,400840.0,6168.0,19555.0,1560.0,...,98476600,2020-09-24T00:00:00Z,0,0,921,1588,823449,43772,940353,375a88dd29991abc1946cd7f98f4f20a9e37fb5d
4,20200923,56,6898139,87416375,10535.0,29905.0,399252.0,6113.0,19452.0,1544.0,...,97536247,2020-09-23T00:00:00Z,0,0,1157,1451,800878,38567,923704,b4fe7067370631b26f8e988fd2524b5691235a09

In [24]:
us_daily.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   date                      250 non-null    int64
 1   states                    250 non-null    int64
 2   positive                  250 non-null    int64
 3   negative                  250 non-null    int64
 4   pending                   208 non-null    float64
 5   hospitalizedCurrently     195 non-null    float64
 6   hospitalizedCumulative    208 non-null    float64
 7   inIcuCurrently            186 non-null    float64
 8   inIcuCumulative           187 non-null    float64
 9   onVentilatorCurrently     187 non-null    float64
 10  onVentilatorCumulative    180 non-null    float64
 11  recovered                 187 non-null    float64
 12  dateChecked               250 non-null    object
 13  death                     231 non-null    float64
 14  hospitalized              208 non-null    float64
 15  totalTestResults          250 non-null    int64
 16  lastModified              250 non-null    object
 17  total                     250 non-null    int64
 18  posNeg                    250 non-null    int64
 19  deathIncrease             250 non-null    int64
 20  hospitalizedIncrease      250 non-null    int64
 21  negativeIncrease          250 non-null    int64
 22  positiveIncrease          250 non-null    int64
 23  totalTestResultsIncrease  250 non-null    int64
 24  hash                      250 non-null    object
dtypes: float64(10), int64(12), object(3)
memory usage: 49.0+ KB

In [25]:
# Checking values for column 'posNeg'
us_daily.posNeg.value_counts()

0    250
Name: posNeg, dtype: int64

The column `'posNeg'` is useless.

In [26]:
us_daily.total.value_counts()

0    250
Name: total, dtype: int64

This is also useless.  They were probably rendered useless when the columns `totalTestResults`, `negativeIncrease`, `positiveIncrease`, and `totalTestResultsIncrease` were created.

In [27]:
print('Total Test Results Value Counts:')
print(us_daily.totalTestResults.value_counts())
print('---------------------------------------------------------------------')
print('Negative Increase Value Counts:')
print(us_daily.negativeIncrease.value_counts())
print('---------------------------------------------------------------------')
print('Positive Increase Value Counts:')
print(us_daily.positiveIncrease.value_counts())
print('---------------------------------------------------------------------')
print('Total Test Results Increase Value Counts:')
print(us_daily.totalTestResultsIncrease.value_counts())
print('---------------------------------------------------------------------')

Total Test Results Value Counts:
13          8
4           5
2           4
14          4
16          3
           ..
81082167    1
16066869    1
281396      1
67880152    1
85644289    1
Name: totalTestResults, Length: 226, dtype: int64
---------------------------------------------------------------------
Negative Increase Value Counts:
0         38
1534       1
723        1
365238     1
850612     1
          ..
438062     1
415390     1
639272     1
648999     1
559616     1
Name: negativeIncrease, Length: 213, dtype: int64
---------------------------------------------------------------------
Positive Increase Value Counts:
0        38
178       1
11439     1
26798     1
61101     1
         ..
54085     1
27928     1
48        1
30979     1
27387     1
Name: positiveIncrease, Length: 213, dtype: int64
---------------------------------------------------------------------
Total Test Results Increase Value Counts:
0         25
1          8
2          3
422043     1
435890     1
          ..
500040     1
541511     1
158534     1
474533     1
850432     1
Name: totalTestResultsIncrease, Length: 217, dtype: int64
---------------------------------------------------------------------

This confirms my thoughts earlier on what happened to the columns `posNeg` and `total`.  They were rendered useless after the creation of these other columns.

In [28]:
us_daily.states.value_counts()

56    196
2      19
3      17
51      9
6       3
4       3
37      1
25      1
18      1
Name: states, dtype: int64

## Notes:
```us_daily``` is the running total of cases in the US with some other interesting stats. It's also a good downsampled version for time series evaluation. ```us_daily['states']``` does NOT represent the state's FIPS code, but the number of states/territories which have positive cases.  This makes ```us_daily.csv``` a prime candidate for showing trends in the US as a whole.

# US-States.csv

In [29]:
us_dash_states = pd.read_csv('eda_only/us-states.csv')
us_dash_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [30]:
us_dash_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11509 entries, 0 to 11508
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    11509 non-null  object
 1   state   11509 non-null  object
 2   fips    11509 non-null  int64
 3   cases   11509 non-null  int64
 4   deaths  11509 non-null  int64
dtypes: int64(3), object(2)
memory usage: 449.7+ KB

In [31]:
us_dash_states.describe()

               fips          cases        deaths
count  11509.000000   11509.000000  11509.000000
mean      31.843688   51083.290208   1914.551655
std       18.604312  102033.503241   4373.002544
min        1.000000       1.000000      0.000000
25%       17.000000    1484.000000     34.000000
50%       31.000000   12820.000000    379.000000
75%       46.000000   55275.000000   1739.000000
max       78.000000  811698.000000  32722.000000

In [32]:
state53 = us_dash_states[us_dash_states['fips'] == 53]

In [33]:
state53.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
4  2020-01-24  Washington    53      1       0
7  2020-01-25  Washington    53      1       0

In [34]:
state53.tail()

             date       state  fips  cases  deaths
11285  2020-09-23  Washington    53  88042    2175
11340  2020-09-24  Washington    53  88597    2175
11395  2020-09-25  Washington    53  89149    2193
11450  2020-09-26  Washington    53  89514    2196
11505  2020-09-27  Washington    53  89822    2196

## Notes:
```us_dash_states``` is similar to ```us_states``` (a running total of cases and deaths per day) but with 3x more data. The extra data comes from the fact that ```us-states.csv``` has data up to 9.27.2020, while ```us_states.csv``` only has data to the beginning of May.  This makes ```us-states.csv``` a perfect candidate to measure predictions from models based on ```us_states.csv``` against.

# JHU csv files

## jhu_confirmed.csv

In [35]:
jhu_conf = pd.read_csv('jhu_confirmed.csv')
jhu_conf.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20,9/28/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1673,1690,1691,1714,1715,1738,1757,1764,1773,1785
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,5047,5061,5087,5124,5141,5165,5456,5477,5526,5588
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,830,835,838,848,851,857,873,882,885,886
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,628,632,636,635,638,642,652,654,656,657
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,1542,1551,1560,1573,1580,1594,1608,1611,1617,1618

In [36]:
florida = jhu_conf[jhu_conf['Province_State'] == 'Florida']

florida.Admin2.unique()

array(['Alachua', 'Baker', 'Bay', 'Bradford', 'Brevard', 'Broward',
       'Calhoun', 'Charlotte', 'Citrus', 'Clay', 'Collier', 'Columbia',
       'DeSoto', 'Dixie', 'Duval', 'Escambia', 'Flagler', 'Franklin',
       'Gadsden', 'Gilchrist', 'Glades', 'Gulf', 'Hamilton', 'Hardee',
       'Hendry', 'Hernando', 'Highlands', 'Hillsborough', 'Holmes',
       'Indian River', 'Jackson', 'Jefferson', 'Lafayette', 'Lake', 'Lee',
       'Leon', 'Levy', 'Liberty', 'Madison', 'Manatee', 'Marion',
       'Martin', 'Miami-Dade', 'Monroe', 'Nassau', 'Okaloosa',
       'Okeechobee', 'Orange', 'Osceola', 'Out of FL', 'Palm Beach',
       'Pasco', 'Pinellas', 'Polk', 'Putnam', 'Santa Rosa', 'Sarasota',
       'Seminole', 'St. Johns', 'St. Lucie', 'Sumter', 'Suwannee',
       'Taylor', 'Unassigned', 'Union', 'Volusia', 'Wakulla', 'Walton',
       'Washington'], dtype=object)

In [37]:
jhu_conf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3340 entries, 0 to 3339
Columns: 262 entries, UID to 9/28/20
dtypes: float64(3), int64(253), object(6)
memory usage: 6.7+ MB

In [38]:
for i in range(len(jhu_conf.columns)):
    print(jhu_conf.columns[i])

UID
iso2
iso3
code3
FIPS
Admin2
Province_State
Country_Region
Lat
Long_
Combined_Key
1/22/20
1/23/20
1/24/20
1/25/20
1/26/20
1/27/20
1/28/20
1/29/20
1/30/20
1/31/20
2/1/20
2/2/20
2/3/20
2/4/20
2/5/20
2/6/20
2/7/20
2/8/20
2/9/20
2/10/20
2/11/20
2/12/20
2/13/20
2/14/20
2/15/20
2/16/20
2/17/20
2/18/20
2/19/20
2/20/20
2/21/20
2/22/20
2/23/20
2/24/20
2/25/20
2/26/20
2/27/20
2/28/20
2/29/20
3/1/20
3/2/20
3/3/20
3/4/20
3/5/20
3/6/20
3/7/20
3/8/20
3/9/20
3/10/20
3/11/20
3/12/20
3/13/20
3/14/20
3/15/20
3/16/20
3/17/20
3/18/20
3/19/20
3/20/20
3/21/20
3/22/20
3/23/20
3/24/20
3/25/20
3/26/20
3/27/20
3/28/20
3/29/20
3/30/20
3/31/20
4/1/20
4/2/20
4/3/20
4/4/20
4/5/20
4/6/20
4/7/20
4/8/20
4/9/20
4/10/20
4/11/20
4/12/20
4/13/20
4/14/20
4/15/20
4/16/20
4/17/20
4/18/20
4/19/20
4/20/20
4/21/20
4/22/20
4/23/20
4/24/20
4/25/20
4/26/20
4/27/20
4/28/20
4/29/20
4/30/20
5/1/20
5/2/20
5/3/20
5/4/20
5/5/20
5/6/20
5/7/20
5/8/20
5/9/20
5/10/20
5/11/20
5/12/20
5/13/20
5/14/20
5/15/20
5/16/20
5/17/20
5/18/20
5/19/20
5/20/20
5/21/20
5/22/20
5/23/20
5/24/20
5/25/20
5/26/20
5/27/20
5/28/20
5/29/20
5/30/20
5/31/20
6/1/20
6/2/20
6/3/20
6/4/20
6/5/20
6/6/20
6/7/20
6/8/20
6/9/20
6/10/20
6/11/20
6/12/20
6/13/20
6/14/20
6/15/20
6/16/20
6/17/20
6/18/20
6/19/20
6/20/20
6/21/20
6/22/20
6/23/20
6/24/20
6/25/20
6/26/20
6/27/20
6/28/20
6/29/20
6/30/20
7/1/20
7/2/20
7/3/20
7/4/20
7/5/20
7/6/20
7/7/20
7/8/20
7/9/20
7/10/20
7/11/20
7/12/20
7/13/20
7/14/20
7/15/20
7/16/20
7/17/20
7/18/20
7/19/20
7/20/20
7/21/20
7/22/20
7/23/20
7/24/20
7/25/20
7/26/20
7/27/20
7/28/20
7/29/20
7/30/20
7/31/20
8/1/20
8/2/20
8/3/20
8/4/20
8/5/20
8/6/20
8/7/20
8/8/20
8/9/20
8/10/20
8/11/20
8/12/20
8/13/20
8/14/20
8/15/20
8/16/20
8/17/20
8/18/20
8/19/20
8/20/20
8/21/20
8/22/20
8/23/20
8/24/20
8/25/20
8/26/20
8/27/20
8/28/20
8/29/20
8/30/20
8/31/20
9/1/20
9/2/20
9/3/20
9/4/20
9/5/20
9/6/20
9/7/20
9/8/20
9/9/20
9/10/20
9/11/20
9/12/20
9/13/20
9/14/20
9/15/20
9/16/20
9/17/20
9/18/20
9/19/20
9/20/20
9/21/20
9/22/20
9/23/20
9/24/20
9/25/20
9/26/20
9/27/20
9/28/20

## jhu_deaths.csv

In [39]:
jhu_deaths = pd.read_csv('jhu_deaths.csv')
jhu_deaths.head()

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,9/19/20,9/20/20,9/21/20,9/22/20,9/23/20,9/24/20,9/25/20,9/26/20,9/27/20,9/28/20
0,84001001,US,USA,840,1001.0,Autauga,Alabama,US,32.539527,-86.644082,...,1673,1690,1691,1714,1715,1738,1757,1764,1773,1785
1,84001003,US,USA,840,1003.0,Baldwin,Alabama,US,30.727750,-87.722071,...,5047,5061,5087,5124,5141,5165,5456,5477,5526,5588
2,84001005,US,USA,840,1005.0,Barbour,Alabama,US,31.868263,-85.387129,...,830,835,838,848,851,857,873,882,885,886
3,84001007,US,USA,840,1007.0,Bibb,Alabama,US,32.996421,-87.125115,...,628,632,636,635,638,642,652,654,656,657
4,84001009,US,USA,840,1009.0,Blount,Alabama,US,33.982109,-86.567906,...,1542,1551,1560,1573,1580,1594,1608,1611,1617,1618

In [40]:
jhu_deaths.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3340 entries, 0 to 3339
Columns: 262 entries, UID to 9/28/20
dtypes: float64(3), int64(253), object(6)
memory usage: 6.7+ MB

## Notes: 
Both of these are great. They will both need to have their relevant columns exported into other data frames that are formatted for time series.

In [41]:
counties = pd.read_csv('us-counties.csv')
counties

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1       0
1       2020-01-22   Snohomish  Washington  53061.0      1       0
2       2020-01-23   Snohomish  Washington  53061.0      1       0
3       2020-01-24        Cook    Illinois  17031.0      1       0
4       2020-01-24   Snohomish  Washington  53061.0      1       0
...            ...         ...         ...      ...    ...     ...
589538  2020-10-01  Sweetwater     Wyoming  56037.0    342       2
589539  2020-10-01       Teton     Wyoming  56039.0    591       1
589540  2020-10-01       Uinta     Wyoming  56041.0    356       2
589541  2020-10-01    Washakie     Wyoming  56043.0    115       6
589542  2020-10-01      Weston     Wyoming  56045.0     39       0

[589543 rows x 6 columns]

In [42]:
states = pd.read_csv('us-states2.csv')
states

             date          state  fips   cases  deaths
0      2020-01-21     Washington    53       1       0
1      2020-01-22     Washington    53       1       0
2      2020-01-23     Washington    53       1       0
3      2020-01-24       Illinois    17       1       0
4      2020-01-24     Washington    53       1       0
...           ...            ...   ...     ...     ...
11724  2020-10-01       Virginia    51  148721    3228
11725  2020-10-01     Washington    53   92166    2227
11726  2020-10-01  West Virginia    54   16024     354
11727  2020-10-01      Wisconsin    55  132176    1358
11728  2020-10-01        Wyoming    56    6083      53

[11729 rows x 5 columns]

# Results:

The following datasets should be kept for use:

* `COVID-19-Activity.csv` for county and state data regarding tests
* `jhu_confirmed.csv` and `jhu_deaths.csv` are will both make fantastic sources for training and predictions on state levels.
* `us_daily.csv` for a downsampled time series of the US in general.